<h1>Welcome to my Really Simple Crawler</h1>
<%= form_for(:crawler, url: crawler_path) do |f| %>

      <%= f.label :site %>
      <%= f.text_field :site, placeholder: "stackoverflow.com" %>

      <%= f.label :depth %>
      <%= f.select :deep, (1..5) %>

      <%= f.submit "Map it!" %>
    <% end %>
